@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

*,
::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  font-family: 'Nunito Sans', sans-serif;
  overflow-x: hidden;
}

:root {
  --nav-bg-color: #ffffff;
  --search-country-color: #c0c0c0;
  --bg-color: #fafafa;
  --text-color: #111517;
  --elements-color: #ffffff;
}

.light-theme {
  --search-country-color: #c0c0c0;
  --nav-bg-color: #ffffff;
  --elements-color: #ffffff;
  --text-color: #121517;
  --bg-color: #fafafa;
}

.dark-theme {
  --search-country-color: #ffff;
  --elements-color: #2b3945;
  --text-color: #ffffff;
  --bg-color: #202c37;
}

a:-webkit-any-link {
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: black;
}
